<div class="content-wrapper">
  <img src="../../../../assets/icon/sn-logo-name-black.svg" alt="">
  <div>
    <img src="../../../../assets/squirrel-donate.jpg" alt="" class="donate">
  </div>

  <div class="text-wrapper">
    <div class="category">
      {{ data ? (data.case | uppercase) : ('donate.ownCase' | translate | async | uppercase) }}
    </div>
    <div class="title">
      {{ data ? (data.title | uppercase) : ('donate.title' | translate | async | uppercase) }}
    </div>
    <p>
      {{ data ? (data.text | uppercase) : ('donate.text' | translate | async | uppercase) }}
    </p>
  </div>
</div>
