ion-item {
  margin: 25px 0;
}

.teaser {
  line-height: 20px;
  font-size: 1em;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;

  .date {
    line-height: 10px;
    font-size: 0.8em;
    margin-bottom: 5px;
  }
}

.teaser-img {
  width: 100px;
  height: 100px;
  background-size: cover;
}

ion-toolbar.past-issues {
  --opacity: 0.0;
  --border-style: none;
}