<ion-header>
  <ion-toolbar class="past-issues"> 
    <ion-title>{{ 'issues.all' | translate | async }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        icon="arrow-back-outline"
        text=""
        (click)="handleBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item lines="none" (click)="openIssue(0)">
      <div class="teaser">
        Seven-year-old raises thousands, LGBT+ rights in Dutch constitution, modular housing for formerly homeless
      </div>
      <div slot="end" class="teaser-img">
      </div>
    </ion-item>
    <ion-item lines="none">
      <div class="teaser">
        Seven-year-old raises thousands, LGBT+ rights in Dutch constitution, modular housing for formerly homeless
      </div>
      <div slot="end" class="teaser-img">
      </div>
    </ion-item>
    <ion-item lines="none">
      <div class="teaser">
        Seven-year-old raises thousands, LGBT+ rights in Dutch constitution, modular housing for formerly homeless
      </div>
      <div slot="end" class="teaser-img">
      </div>
    </ion-item>
  </ion-list>
</ion-content>