ion-item {
  margin: 25px 0;
}

.teaser {
  line-height: 20px;
  font-size: 1em;

  h6 {
    line-height: 10px;
    font-size: 0.8em;
  }
}

.teaser-img {
  width: 100px;
  height: 130px;
  background-size: cover;
}

ion-toolbar.past-issues {
  --opacity: 0.0;
  --border-style: none;
}