ion-item {
  margin: 25px 0;
}

.teaser {
  line-height: 24px;
  font-size: 1em;
}

.teaser-img {
  width: 100px;
  height: 100px;
  background: url('/assets/headline.jpg') no-repeat top center;
  background-size: cover;
}

ion-toolbar.past-issues {
  --opacity: 0.0;
  --border-style: none;
}