/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-toolbar {
  --opacity: 0;
  --border-style: none;
}

ion-toolbar.home {
  --background: rgba(0, 0, 0, 0);
  --color: #fff;
  --border-style: none;
}

//the extra height here pushes the pager closer to the bottom of the page
ion-slides {
  --bullet-background-active: black;
  height: 110%;
}

ion-tab-bar {
  --background: rgb(240, 240, 233);
}

ion-page {
  height: 100vh;
}

:root {
  --ion-font-family: "Lato";
}

.wrapper-article {
  width: 100%;
}

main {
  /* Old browsers */
}


/*display specific fixes
    |       |       |
    V       V       V
*/

/*fix for small mobile screens (iphone 5/se).
Adjusts height of ion-slides and the verticle 
position of the pager to keep pager in view.
*/
@media only screen and (max-height: 570px){
  ion-slides {
    --bullet-background-active: black;
    height: auto;
  }

  .swiper-slide, .swiper-pagination {
    bottom: 40px !important;
  }
  
}


/*fix for larger tablet screens (ipad pro).
Adjusts height of ion-slides and the verticle 
position of the pager to keep pager in view.
*/
@media only screen and (min-height: 1350px){
  ion-slides {
    --bullet-background-active: black;
    height: 105%;
  }

  .swiper-slide, .swiper-pagination {
    bottom: 0px !important;
  }
  
}
