<div class="content-wrapper">
<img src="../../../../assets/icon/sn-logo.svg" width="40" alt="">

<div>
  <div class="issue-title">{{data.title}}</div>
  <p>
    {{data.headline}}
  </p>
  <!-- {{data | json}} -->
  <div class="issue-image" [ngStyle]="{
    'background': 'url(' + data.image + ') no-repeat top center',
    'background-size': 'cover'}">
    <div class="photo-credit">{{ ("article.photo" | translate | async) }} via <a [href]="data.issueURL" target="_blank">Squirrel-News.net</a> </div>
  </div>
</div>

</div>