ion-slides {
  top: -90px;
  // padding-bottom: 75px;
    --bullet-background-active: black;
}

.swiper-pagination-bullets {
  position: absolute;
  top: calc(90vh - 80px);
}

.swiper-slide, .swiper-pagination {
  bottom: 30px !important;
}

.logo-image {
  margin-top: 50%;
  padding: 100px 100px 10px 100px;
}
